{% extends 'base.html.twig' %}

{% block body %}
    <h1>Visitor</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ visitor.id }}</td>
            </tr>
            <tr>
                <th>Ip</th>
                <td>{{ visitor.ip }}</td>
            </tr>
            <tr>
                <th>Agent</th>
                <td>{{ visitor.agent }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ visitor.url }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if visitor.date %}{{ visitor.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Count</th>
                <td>{{ visitor.count }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('visitor_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('visitor_edit', { 'id': visitor.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
